* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*  header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.top-line {
  display: flex;
  gap: 332px;
  align-items: center;
}
/* navigation*/
.navigation {
  display: flex;
  align-items: center;
}
.navigation .logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}
.navigation-ul {
  display: flex;
  gap: 40px;
}

.navigation-link {
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/*address*/
.address {
  font-style: normal;
}
.address-ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.address-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: #404bbf;
}

/*<----------main--------->*/

.title-level-one {
  max-width: 496px;
  color: #fff;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto 48px;
}
.title-level-two {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.title-level-three {
  margin-bottom: 8px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*section 1*/

.hero-image {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/*section 2*/

.info {
  padding: 120px 0;
}
.info-ul {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  flex-shrink: 0;
}
.info-li {
  width: calc((100% - 3 * 24px) / 4);
}
.info-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

/*section 3*/

.our-team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.our-team-ul {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
  text-align: center;
}
.our-team-li {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team-info {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.our-team-text {
  text-align: center;
}
.our-team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.our-team-icons-li {
  width: 40px;
  height: 40px;
}
.our-team-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-icons-link:hover,
.our-team-icons-link:focus {
  background-color: #404bbf;
}
.our-team-svg {
  fill: #f4f4fd;
}
/*section 4*/

.our-portfolio {
  padding: 120px 0;
}
.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  justify-content: center;
  flex-shrink: 0;
}
.our-portfolio-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-portfolio-img {
  position: relative;
  overflow: hidden;
}
.our-portfolio-img-text {
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-img:hover .our-portfolio-img-text {
  transform: translatey(0);
}
.our-portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/*footer*/

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-logo-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-logo-text {
  margin-top: 16px;
  max-width: 264px;
}
.footer-social {
  margin-left: 120px;
}
.footer-social-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icons {
  display: flex;
  gap: 16px;
}
.footer-icons-li {
  width: 40px;
  height: 40px;
}
.footer-icons-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}
.footer-svg {
  fill: #f4f4fd;
}
.footer-subscribe {
  margin-left: 80px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.input-subscribe-email {
  width: 264px;
  height: 40px;
  color: #fff;
  background-color: #2e2f42;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.input-subscribe-email::placeholder {
  color: #fff;
}
.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.footer-subscribe-svg {
  fill: #ffffff;
  margin-left: 16px;
}

/* backdrop */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  padding-top: 72px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(00, 00, 00, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-svg {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus,
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:focus .modal-close-svg,
.modal-close-btn:hover .modal-close-svg {
  fill: #ffffff;
}
.modal-title {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}
.modal-form {
}
.modal-element {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-svg {
  fill: #4d5ae5;
}
.modal-svg {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-element-textarea {
  margin-bottom: 16px;
}
.modal-input-textarea {
  height: 120px;
  padding: 0;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.modal-input-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-element-checkbox {
  margin-bottom: 24px;
}
.modal-akcept {
  margin-right: 8px;
}
.form-checkbox {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-akcept:checked + .modal-label .form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
  padding: 16px 32px;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
